@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #e8e8e8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1f3a;
}

::-webkit-scrollbar-thumb {
  background: #1e3a8a;
}

::-webkit-scrollbar-thumb:hover {
  background: #174e65;
}

