@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c2416;
  color: #ffdca7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #9b7956;
}

::-webkit-scrollbar-thumb {
  background: #bba664;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecd65a;
}

